@import "fonts";

body {
  height: 100%;
}

.game {
  margin: auto;
  border-bottom: 1px solid #000;
  width: 600px;
  height: 200px;
}

.background {
  margin: auto;
}

#dino {
  position: relative;
  top: 150px;
  width: 50px;
  height: 50px;
  background-image: url("@images/dino.png");
  background-size: 65px 50px;
}

#cactus {
  position: relative;
  left: 580px;
  top: 110px;
  width: 35px;
  height: 40px;
  background-image: url("@images/cactus.png");
  background-size: 35px 40px;
  background-repeat: no-repeat;
  animation-name: cactusMov;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes cactusMov {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

.jump {
  animation-name: jump;
  animation-duration: 0.3s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}
